body{
 background: url(https://cdn.pixabay.com/photo/2018/04/28/12/17/sculpture-3357150_1280.jpg) no-repeat;
 background-color:black;
  background-size:100%;
  font-family: 'Luxurious Roman', cursive;
 }
#ramka{
    min-width: 30vw;
    min-height:10vw;
    padding:2%;
    position: absolute;
    right: 10%;
    top: 150px;
    transition: all .8s ease;
    backface-visibility: hidden;
    box-shadow: 2rem 2rem 4rem #323432;
    border-radius: .5rem;
    background-color:#DACEBE;
    color:#1E1F1E;
    text-align:center;
}
